*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
.ipynb_checkpoints
*.lock
.DS_Store

/.quarto/
*_files/
*.html

# Node
node_modules/
.package-lock.json
package-lock.json
npm-debug.log*
.yarn/
.pnpm-store/
